

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	/* ---------------------------------
	9. COUNTER SECTION
	--------------------------------- */

	.counter-section{ text-align: center; padding: 50px 0 20px; }

	.counter{ display: inline-block; }
	
	.counter .desc{ text-align: left; }
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	/* ---------------------------------
	4. INTRO SECTION
	--------------------------------- */

	.intro-section{ padding-top: 250px; }
	
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	4. INTRO SECTION
	--------------------------------- */

    .intro-section{ padding-top: 350px; }
    
    	/* ---------------------------------
	5. PORFOLIO SECTION INDEX
	--------------------------------- */

	.portfolio-section{ padding-bottom: 0; }
	
	.portfolio-section .portfolioFilter{ margin: 0px 0 10px; }
	
	.portfolio-section .portfolioContainer{ margin-left: 0; margin-right: 0; }

	.portfolio-section .p-item{ width: 50%; padding: 0 15px 0px; }

	/* .portfolio-section .p-item{ max-width: 400px; } */
}

/* Screens Resolution : 575px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 575px) {


	/* ---------------------------------
	5. PORFOLIO SECTION 
	--------------------------------- */
	
    .portfolio-section .p-item{ width: 100%; }
    
    
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {


}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	

}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {

	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 260px) {

	
	/* ---------------------------------
	4. INTRO SECTION
	--------------------------------- */

	.intro .profile-img{ width: 80%; height: auto; top: 0; margin-bottom: 10px; }
	
	.intro{ padding: 20px 10px 0; margin-right: -15px; margin-left: -15px; }
	
}