@media only screen and (max-width: 1200px) {
    .img-avatar {
        top: 60px !important;
        left: 245px !important;
    }
}

@media only screen and (max-width: 992px) {
    .img-avatar {
        top: 54px !important;
        left: 168px !important;
    }
}


@media only screen and (max-width: 768px) {
    .desc {
        width: 200px;
        text-overflow: ellipsis;
        height: 100px;
        overflow: hidden;
    }

    .img-avatar {
        top: 60px !important;
        left: 105px !important;
    }
}


@media only screen and (max-width: 522px) {
    .img-avatar {
        top: 11px !important;
        left: 13px !important;
        width: 68px !important;
        height: 65px !important;
    }
}

@media only screen and (max-width: 385px) {
    .img-avatar {
        top: 20px !important;
        left: 15px !important;
    }

    .title-total {
        padding: 0 !important;
    }
}

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html {
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    touch-action: manipulation;
    /* biar tidak bisa dizoom msih ada bnyak value touch action liat di https://www.youtube.com/watch?v=NOzQlS6utRk  */
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
inpot,
button {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: inherit;
}

h1,
h2,
h3 {
    font-family: 'Poppins', cursive;
}

p {
    line-height: 1.6;
    font-size: 1.05em;
    font-weight: 400;
    color: #777;
}

h1 {
    font-size: 4em;
    line-height: 1;
}

h2 {
    font-size: 2.2em;
    line-height: 1.1;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: .9em;
    letter-spacing: 1px;
}

a,
button {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    line-height: 1;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
    text-decoration: none;
    color: #FFA804;
}

b {
    font-weight: 600;
}

img {
    width: 100%;
}

li {
    list-style: none;
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    outline: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.icon {
    font-size: 1.1em;
    display: inline-block;
    line-height: inherit;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    line-height: inherit;
}

b.max-bold {
    font-weight: 700;
}



/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.section {
    padding: 10px 0 50px;
    border-bottom: 1px solid #ddd;
}

.section .heading {
    margin-bottom: 60px;
    display: inline-block;
}

.section .heading:before {
    content: '';
    height: 10px;
    width: 50px;
    border-radius: 5px;
    margin: 0 auto 20px;
    display: block;
    background: #FFA804;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-30 {
    margin-bottom: 30px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-tb-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.font-yellow {
    color: #FFA600;
}

.font-semi-white {
    color: #ddd;
}

.font-lite-black {
    color: #999;
}

.center-text {
    text-align: center;
}




/* INTRO SECTION  */


.intro-section {
    /* background-image: url(https://res.cloudinary.com/duh6epdw5/image/upload/v1590930966/icons8-image-100_hovchq.png); */
    padding-top: 200px;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    z-index: 1;
}

.intro-section:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
}

.intro-section:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    z-index: -1;
    background: #fff;
}

.intro {
    padding: 0 20px;
    margin-top: 100px;
    text-align: center;
    background: #fff;
}

.intro .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -100px;
    margin-bottom: -70px;
}

.intro .information>li {
    display: block;
    margin: 5px 0;
}

.intro .social-icons>li>a {
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 5px 5px;
    background: #887392;
    color: #fff;
}

.intro .social-icons>li>a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 20px;
    background: #FFA804;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.intro .social-icons>li>a:hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}



/* ---------------------------------
5. PORFOLIO SECTION PORTFOLIO INDEX
--------------------------------- */

.portfolio-section {
    padding-bottom: 0;
}

.portfolio-section .portfolioFilter {
    margin-top: 60px;
    color: #666;
}

.portfolio-section .portfolioFilter a {
    margin: 10px 10px 0 0;
}

.portfolio-section .portfolioFilter a.current {
    color: #FFA804;
}

/* @media only screen and (max-width: 650px) {

    .portfolio-section .portfolioContainer {
        display: flex !important;
        justify-content: center!important;
    }
} */

.portfolio-section .portfolioContainer {
    margin-left: -15px;
    margin-right: -15px;
}

.portfolio-section .p-item {
    width: 33.333%;
    padding: 0 7.5px 0px;
    margin-top: 15px;
}

.portfolio-section .p-item a {
    display: inline;
}

.portfolio-section .p-item.p-item-2 .img:first-child {
    float: left;
    width: 50%;
    padding-right: 7.5px;
}

.portfolio-section .p-item.p-item-2 .img:last-child {
    float: right;
    width: 50%;
    padding-left: 7.5px;
}

/* list post card */

.cardPost {
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 5px 6px rgba(34, 35, 58, 0.5);
    /* max-width: 350px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    position: relative;
}

/* .cardPost:hover {
  box-shadow: 8px 8px 19px rgba(34, 35, 58, 0.5);
} */

.cardPost h2 {
    margin: 0;
    padding: 0 1rem;
}

.cardPost .title {
    padding: 1rem;
    text-align: right;
    color: green;
    font-weight: bold;
    font-size: 12px;
}

.cardPost .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
    height: 7em;
}

.cardPost .actions {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* align-items: ; */
    padding: 0.5rem 1rem;
}

.cardPost svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
}

.img-avatar {
    width: 96px;
    height: 96px;
    position: absolute;
    border-radius: 50%;
    border: 6px solid white;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    top: 40px;
    left: 319px;
}

.cardPost-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}

.title-total {
    width: 100 !important;
    padding: 0.1em 1em 1em 3em;
}

path {
    fill: white;
}

.img-portada {
    width: 100%;
}

.portada {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: bottom center;
    background-size: cover;
}

button {
    border: none;
    background: none;
    font-size: 24px;
    color: #8bc34a;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    color: #4CAF50;
    transform: rotate(22deg);
}


/* edit profile */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);






.row span {
    /* justify-content: center; */
    position: relative;
    /* display: inline-block; */
    margin: 20px 45px;
}



.gate {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 65px;
    transition: all .3s ease-in-out;
}

.gate::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}

.gate+label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #7AB893;
    transition: all .4s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: left bottom;
    z-index: 99;
}

.gate+label:before,
.gate+label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
    transform-origin: left bottom;
    transition: all .4s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.gate+label:before {
    background: rgba(3, 36, 41, 0.2);
    z-index: -2;
    right: 20%;
}

span:nth-child(2) .gate {
    text-indent: 85px;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
    text-indent: 0;
}

.gate:focus,
.gate:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
    color: #aaa;
}

.gate:focus+label,
.gate:active+label {
    transform: rotate(-66deg);
    border-radius: 3px;
}

.gate:focus+label:before,
.gate:active+label:before {
    transform: rotate(10deg);
}



/* button update profile */

.boton {
    width: 200px;
    height: 50px;
    /* margin: 200px auto; */
    display: block;
    position: relative;
}

.botontext {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.twist {
    display: block;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: -4px;
}

.twist:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #0066c5;
    bottom: 100%;
    position: absolute;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0,
            0, 0, -1, -0.003,
            0, 1, 0, 0,
            0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    border-radius: 10px;
    /* custom */
}

.twist:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    background: #0084ff;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 1, -0.003,
            0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    border-radius: 5px;
    /* custom */
}

.boton:hover .twist:before {
    background: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 1, 0.003,
            0, 50, 0, 1);
}

.boton:hover .twist:after {
    background: linear-gradient(315deg, #00c5cf 0%, #3a92df 74%);
    transform: matrix3d(1, 0, 0, 0,
            0, 0, -1, 0.003,
            0, 1, 0, 0,
            0, 0, 0, 1);
}

.boton .twist:nth-of-type(1) {
    margin-left: 0;
}

.boton .twist:nth-of-type(1):before,
.boton .twist:nth-of-type(1):after {
    transition-delay: 0s;
}

.boton .twist:nth-of-type(2):before,
.boton .twist:nth-of-type(2):after {
    transition-delay: 0.1s;
}

.boton .twist:nth-of-type(3):before,
.boton .twist:nth-of-type(3):after {
    transition-delay: 0.2s;
}

.boton .twist:nth-of-type(4):before,
.boton .twist:nth-of-type(4):after {
    transition-delay: 0.3s;
}

.boton .botontext:nth-of-type(1) {
    color: #272033;
    bottom: 100%;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0,
            0, 0, -1, -0.003,
            0, 1, 0, 0,
            0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    /* custom */
}

.boton:hover .botontext:nth-of-type(1) {
    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 1, 0.003,
            0, 50, 0, 1);
}

.boton .botontext:nth-of-type(2) {
    color: #fff;
    top: 100%;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 1, -0.003,
            0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995);
    /* custom */
}

.boton:hover .botontext:nth-of-type(2) {
    transform: matrix3d(1, 0, 0, 0,
            0, 0, -1, 0.003,
            0, 1, 0, 0,
            0, 0, 0, 1);
}

/* @media only screen and (max-width: 650px) {
    .basic-slide {
        float: right!important;
        margin: 0 0!important;
    }
 } */

 .w-20 {
     width: 20%!important;
 }


/* login form  */

.form {
    margin: auto;
    width: 400px;
    padding: 20px 30px;
    background: #fff;
    border: 1px solid #dfdfdf;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective-origin: 50px center;
            perspective-origin: 50px center;
    -webkit-perspective: 2000px;
            perspective: 2000px;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    border-radius: 15px;
  }
  .form::before, .form::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
  }
  .form::before {
    height: 100%;
    top: 0;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
    background: #333;
    opacity: 0.3;
    border-radius: 15px;
  }
  .form::after {
    content: "SUCCESS!";
    -webkit-transform: translateY(-50%) translateZ(-101px) scaleX(-1);
            transform: translateY(-50%) translateZ(-101px) scaleX(-1);
    top: 50%;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  
  .field {
    position: relative;
    background: #cfcfcf;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .field + .field {
    margin-top: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    left: 12px;
    font-size: 1.6em;
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .icon::before, .icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .icon::after {
    -webkit-transform: translateZ(-23px);
            transform: translateZ(-23px);
    opacity: 0.5;
  }
  
  .input {
    border: 1px solid #dfdfdf;
    background: #fff;
    height: 48px;
    line-height: 48px;
    padding: 0 10px 0 48px;
    width: 100%;
    -webkit-transform: translateZ(26px);
            transform: translateZ(26px);
  }
  
  .button {
    display: block;
    width: 100%;
    border: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(315deg, #00c5cf 0%, #3a92df 74%);
    margin-top: 20px;
    padding: 14px;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: translateZ(26px);
            transform: translateZ(26px);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    cursor: pointer;
  }
  .button:hover {
    -webkit-transform: translateZ(13px);
            transform: translateZ(13px);
  }
  
  .side-top-bottom {
    width: 100%;
  }
  .side-top-bottom::before, .side-top-bottom::after {
    content: "";
    width: 100%;
    height: 26px;
    background: linear-gradient(315deg, #00777e 0%, #20507a 74%);
    position: absolute;
    left: 0;
  }
  .side-top-bottom::before {
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transform: translateZ(-26px) rotateX(90deg);
            transform: translateZ(-26px) rotateX(90deg);
    top: 0;
  }
  .side-top-bottom::after {
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-transform: translateZ(-26px) rotateX(-90deg);
            transform: translateZ(-26px) rotateX(-90deg);
    bottom: 0;
  }
  
  .side-left-right {
    height: 100%;
  }
  .side-left-right::before, .side-left-right::after {
    content: "";
    height: 100%;
    width: 26px;
    position: absolute;
    top: 0;
  }
  .side-left-right::before {
    background: linear-gradient(315deg, #00777e 0%, #20507a 74%);
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    left: 0;
  }
  .side-left-right::after {
    background: linear-gradient(315deg, #008d94 0%, #255d8f 74%);
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    right: 0;
  }
  
  /* .username .icon::before, .email .icon::after {
    background: url(https://image.flaticon.com/icons/svg/131/131040.svg) center/contain no-repeat;
  }
  .email .icon::before, .email .icon::after {
    background: url(https://image.flaticon.com/icons/svg/131/131040.svg) center/contain no-repeat;
  }
  
  .password .icon::before, .password .icon::after {
    background: url(https://image.flaticon.com/icons/svg/130/130996.svg) center/contain no-repeat;
  } */
  
  .face-up-left {
    -webkit-transform: rotateY(-30deg) rotateX(30deg);
            transform: rotateY(-30deg) rotateX(30deg);
  }
  
  .face-up-right {
    -webkit-transform: rotateY(30deg) rotateX(30deg);
            transform: rotateY(30deg) rotateX(30deg);
  }
  
  .face-down-left {
    -webkit-transform: rotateY(-30deg) rotateX(-30deg);
            transform: rotateY(-30deg) rotateX(-30deg);
  }
  
  .face-down-right {
    -webkit-transform: rotateY(30deg) rotateX(-30deg);
            transform: rotateY(30deg) rotateX(-30deg);
  }
  
  .form-complete {
    -webkit-animation: formComplete 2s ease;
            animation: formComplete 2s ease;
  }
  
  .form-error {
    -webkit-animation: formError 2s ease;
            animation: formError 2s ease;
  }
  
  input:active, input:focus, button:active, button:focus {
    outline: none;
    border: 1px solid #e77371;
  }
  
  @-webkit-keyframes formComplete {
    50%, 55% {
      -webkit-transform: rotateX(30deg) rotateY(180deg);
              transform: rotateX(30deg) rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg) rotateY(1turn);
              transform: rotateX(0deg) rotateY(1turn);
    }
  }
  
  @keyframes formComplete {
    50%, 55% {
      -webkit-transform: rotateX(30deg) rotateY(180deg);
              transform: rotateX(30deg) rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateX(0deg) rotateY(1turn);
              transform: rotateX(0deg) rotateY(1turn);
    }
  }
  @-webkit-keyframes formError {
    0%, 100% {
      -webkit-transform: rotateX(0deg) rotateY(0deg);
              transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
      -webkit-transform: rotateX(-25deg);
              transform: rotateX(-25deg);
    }
    33% {
      -webkit-transform: rotateX(-25deg) rotateY(45deg);
              transform: rotateX(-25deg) rotateY(45deg);
    }
    66% {
      -webkit-transform: rotateX(-25deg) rotateY(-30deg);
              transform: rotateX(-25deg) rotateY(-30deg);
    }
  }
  @keyframes formError {
    0%, 100% {
      -webkit-transform: rotateX(0deg) rotateY(0deg);
              transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
      -webkit-transform: rotateX(-25deg);
              transform: rotateX(-25deg);
    }
    33% {
      -webkit-transform: rotateX(-25deg) rotateY(45deg);
              transform: rotateX(-25deg) rotateY(45deg);
    }
    66% {
      -webkit-transform: rotateX(-25deg) rotateY(-30deg);
              transform: rotateX(-25deg) rotateY(-30deg);
    }
  }
  small {
    color: #999; 
    text-align: center;
    display: block;
    margin-top: 20px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }  

  .txt-gradient {
    /* background-color: #ff0000; */
    background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    background-clip: text;
    color:transparent;
    -webkit-background-clip: text;
    text-decoration: none;
  }

  .txt-gradient:hover {
    background: linear-gradient(315deg, #63a4ff 50%, #83eaf1 34%);
    background-clip: text;
    color:transparent;
    -webkit-background-clip: text;
    font-size: 0.8rem!important; 
    text-decoration: blue; 
  }

  .error {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    background-color: transparent;
  }

  .bg-black-30 {
      background-color: rgba(0, 0, 0, 0.3);
  }


  /* Start Fonts from Google Fonts */
/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Arapey|Cantarell|Comfortaa|Khand|Russo+One|Ubuntu');


/*End Fonts*/


/*tooltip Box*/
.con-tooltip {

  position: relative;
  background: linear-gradient(315deg, #63a4ff 34%, #83eaf1 60%);
  z-index: 992;
  border-radius: 9px;
  padding: 0 20px;
  margin: 10px;
  
  display: inline-block;
  
  transition: all 0.3s ease-in-out;
  cursor: default;

}

/*tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  
  width: 360px;
  padding: 0px 20px;
  height: auto;

  background: #333;
  color: #E086D3;
  
  position: absolute;
  top:-550%;
  /* left: -106%; */
  

  border-radius: 9px;
  font: 16px;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #333 transparent transparent transparent;

  position: absolute;
  left: 40%;

}

.con-tooltip:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
    transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }

  100%{
    transform: translateY(1px);	
  }

}

/*hover ToolTip*/

.top:hover {transform: translateY(-6px);  }




h3 {
    background: #333;
    color: #E086D3;
    padding: 10px 20px;
    border-radius: 56px;
    width: 8em;
    margin: 20% auto 1% auto;
  
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
 /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg, #63a4ff 34%, #83eaf1 60%); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(315deg, #83eaf1 34%, #006aff 50%); 
  }


  /* button liquid */

  .liquid-button {
    margin: auto;
  }
  .liquid-button path {
    cursor: pointer;
  }
  

  /* button follow followers */
